<div class="card top-space" ng-repeat="todo in todos">
	<div class="p+">
			<strong class="fs-headline display-block tc-red-900">
				{{todo.title}}
			</strong>

			<div class="paragraph fs-body-1 mt+">
				{{todo.url}}
			</div>

			<div class="paragraph fs-body-1 mt+">
				Completed: {{todo.completed}}
			</div>

			<div class="card__actions">
				<a href="#/todo/{{todo.id}}" class="btn btn-m btn--blue btn--flat" lx-ripple>Show</a>
				<a href="#/todo/edit/{{todo.id}}" class="btn btn-m btn--green btn--flat" lx-ripple>Edit</a>
				<a ng-click="todoRemove(todo)" class="btn btn-m btn--red btn--flat" lx-ripple>Delete</a>
			</div>
		</div>
	</div>
</div>
		