<h1>{{title}}</h1>

<form ng-submit="createTodo()">
	<div class="card top-space">
		<div class="p+">
				
				<div flex-container="row">
					<div flex-item>
						<lx-text-field lx-label="Title" lx-allow-clear="true">
				        <input type="text" ng-model="todo.title">
				    </lx-text-field>
					</div>
				</div>

				<div flex-container="row">
					<div flex-item>
						<lx-text-field label="User Id (Between 1 and 10)">
							<input type="number" ng-model="todo.userId" min="1" max="10" lx-allow-clear="true">
						</lx-text-field>
					</div>
				</div>

				<div flex-container="row">
					<div flex-item>
						<div class="p+">
						    <lx-switch ng-model="todo.completed">
						        <lx-switch-label>Switch to complete </lx-switch-label>
						        <lx-switch-help>
											This option allows you to change the status of the To-Dos
						      	</lx-switch-help>
						    </lx-switch>
						</div>
					</div>
				</div>


				<div class="card__actions">
					<button type="submit" class="btn btn--blue btn--l btn--raised">Save</button>
				</div>
		</div>
	</div>
</form>